<div class='flex'>
	<div id='ss-feed' class='ss-feed'>

	</div>
	<button id="load-posts-btn" class="btn btn-success mt-5 mb-5" style="width: 50%;">load more</button>
	<small>End of feed.</small>
</div>

<script>
	$(document).ready(function() {
		const profileId = $('#profileId').val()
		const userId = $('#userId').val()
		let page = 1;

		console.log('userid: '+userId);

		// get posts
		let getPosts = function (type, page, data='') {
			$.ajax({
				type: 'GET',
				url: "/api/post/"+type+"?page="+page+"&user="+data
			})
				.done(function (data) {
					for (let i = 0; i < data.posts.length; i++) {
						let post = data.posts[i];
						console.log(post.user.id)
						let html = "<div class='card feed-item mt-5 mr-3 ml-3'>";
						if (post.type == 'image')
							html += "<img src='" + post.media + "' class='card-img-top feed-media' alt='image'>";
						else if (post.type == 'video')
							html += "<video class='feed-media' controls><source src='" + post.media + "'>video unavailable</video>";
						html +=
							"<div class='card-body row'>" +
							"<div class='col'>" +
							"<blockquote class='blockquote card-text'>" +
							"<p class='mb-0'>" + post.blurb + "</p>" +
							"<footer class='blockquote-footer'>" + post.user.username + "</footer>" +
							"</blockquote>" +
							"</div>" +
							"<div class='col'>" +
							"<h6 class='text-right'>" +
							"<img src='" + post.user.picture + "' alt='Avatar' class='avatar mr-3'>";
						if (post.user.id == userId)
							html += "<button class='delete-post' value='"+post._id+"'><i class='far fa-trash-alt' style='cursor: pointer;'></i></button>";
						html +=
							"</h6>" +
							"</div>" +
							"</div>";
						$('#ss-feed').append(html);
					}

				})
		}

		$(document).on('click', '.delete-post', function() {
			$.ajax({
				type: "DELETE",
				url: "/api/post",
				data: {
					postId: this.value
				}
			})
			.done(function(data) {
				window.location.reload();
			})
			.fail(function(err) {
				alert(err.responseJSON.message);
			});
		})

		const loadPosts = function() {
			if (profileId != null)
				getPosts('user', page, profileId);
			else
				getPosts('feed', page);
			page += 1;
		}
		loadPosts();

		// load more posts
		$('#load-posts-btn').on('click', loadPosts);
	})
</script>

<style>
	.delete-post {
		border: 0;
	}
</style>
