<div class="modal fade" id="video-modal" data-backdrop="static" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="loading" id="loader" style="visibility:hidden">Loading&#8230;</div>
	<input type="hidden" name="type" value="video">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle"><i class="fas fa-video fa-lg mr-2"></i>Post a
					video</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<span class="font-weight-bolder">Select a video:</span> <br>
				<input type="file" id="video-file-input" name="file" accept=".mov,.mp4,.ogg"> <br>
				<!-- <video width="300" height="200" controls>
					<source id="preview-video" src="#">
					video unavailable
				</video> -->
				<br>
				<span class="font-weight-bolder">Add a blurb:</span> <br>
				<textarea id="video-texta" style="outline:none; width: 100%;" name="blurb"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button id="video-submit-button" type="submit" class="btn btn-primary">Publish</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('#video-submit-button').attr('disabled', true);

		$('textarea').on('keyup', function () {
			var textarea_value = $("#video-texta").val();
			if (textarea_value != '') {
				$('#video-submit-button').attr('disabled', false);
			} else {
				$('#video-submit-button').attr('disabled', true);
			}
		});


		$('textarea').on('keyup', function () {
			var textarea_value = $("#video-texta").val();
			var file_value = $("#video-file-input").val();
			console.log(file_value);
			console.log(typeof file_value);
			if (textarea_value != '' && file_value != '') {
				$('#video-submit-button').attr('disabled', false);
			} else {
				$('#video-submit-button').attr('disabled', true);
			}
		});

		$('#video-file-input').on('change', function (event) {
			if (this.files[0].size > 1000000 * 100) { 	// 100 MB
				alert("File is too big!");
				this.value = "";
				return;
			};
			var textarea_value = $("#video-texta").val();
			var file_value = $("#video-file-input").val();
			if (textarea_value != '' && file_value != '') {
				$('#video-submit-button').attr('disabled', false);
			} else {
				$('#video-submit-button').attr('disabled', true);
			}
			if (file_value == '') {
				$('#preview-video').attr('src', "#");
			}
			else {
				let file = event.target.files[0];
				let blobURL = URL.createObjectURL(file);
				document.querySelector("video").src = blobURL;
			}
		});

		$('#video-submit-button').on('click', function () {
			$("#loader").css("visibility", "visible");
			const file = document.getElementById('video-file-input').files[0];
			// get aws presigned url
			fetch(`/api/s3-signed-url?contentType=video/${file.name.split('.').pop()}`)
				.then(function (res) { return res.json() })
				.then(function (data) {
					const s3Link = `https://${data.bucketName}.s3.amazonaws.com/${data.fileName}`
					// upload file to aws
					fetch(data.signedUrl, {
						method: "PUT",
						body: file,
					})
					.then(function () {
						// register post to db
						$.ajax({
							type: "POST",
							url: "/api/post",
							data: {
								type: 'video',
								blurb: $("#video-texta").val(),
								media: s3Link
							}
						})
						.done(function () {
							$("#loader").css("visibility", "hidden");
							window.location.replace('/u/home');
						})
						.fail(function (err) {
							$("#loader").css("visibility", "hidden");
							// handle this
							console.log(err);
						})
					});
				});


		});

	});
</script>