<div class="row page">
	<div class="col col-xs-12 col-sm-12 col-md-3 col-lg-3 section">
		<%- include('partials/nav') %>
	</div>
	<div class="col col-xs-12 col-sm-12 col-md-9 col-lg-6 section">
		<!-- post box -->
		<div class="header-container">
			<h4 class="header mt-5 ml-3 mb-2 font-weight-bold">Home</h4>
		</div>
		<div class="post-field">
			<div class="create-section">
				<div class="pt-3 pl-3 pr-3 pb-3">
					<h6>Hi <%= user.username %>, what's on your mind?</h6>
					<textarea id="ss_textarea" class="ss_textarea mb-2" name="blurb" placeholder="Type here.."></textarea>
					<div id="file-preview"></div>
					<input type="file" name="file" id="file-input" accept=".png,.jpg,.jpeg,.mov,.mp4,.ogg" style="display: none;">
					<i class="fas fa-photo-video fa-2x mr-2 icon-link input-trigger"></i>
					<button id="make-post-btn" class="btn btn-success float-right font-weight-bold" disabled>Post</button>
				</div>
			</div>
		</div>
		
		<%- include('partials/feed') %>
	</div>
</div>
<input type='hidden' id='userId' value='<%= user._id %>' />

<script>
	$(document).ready(function() {
		let type = 'blurb';
		let blurb = '';
		let file = null;
		let file_type = '';

		// make post
		$("#make-post-btn").on('click', function() {
			$("#loader").css("visibility", "visible");
			console.log('making post..');
			if (file) {
				// get signed s3 url
				$.ajax({
					type: 'GET',
					url: `/api/s3-signed-url?contentType=${type}/${file_type}`
				})
				.done(function(data) {
					const media = `https://${data.bucketName}.s3.amazonaws.com/${data.fileName}`;
					
					console.log();

					// upload file to aws
					fetch(data.signedUrl, {
						method: "PUT",
						body: file,
					})
					.then(function () {
						console.log('uploaded to s3');
						// register post to db
						$.ajax({
							type: 'POST',
							url: '/api/post',
							data: {
								type: type,
								blurb: blurb,
								media: media
							}
						})
						.done(function() {
							$("#loader").css("visibility", "hidden");
							window.location.replace('/u/home');
						})
						.fail(function(err) {
							alert(err);
						})
					})
					.catch(function(err) {
						alert(err);
					})
				})
				.fail(function (err) {
					alert(err);
				})
			}
			else {
				$.ajax({
					type: 'POST',
					url: '/api/post',
					data: {
						type: type,
						blurb: blurb
					}
				})
					.done(function () {
						$("#loader").css("visibility", "hidden");
						console.log('post complete.')
						window.location.replace('/u/home');
					})
					.fail(function (err) {
						alert(err);
					})
			}
		});

		// validate submit button
		$('#ss_textarea').on('keyup', function() {
			blurb = this.value;
			if (!blurb) {
				$('#make-post-btn').attr("disabled", true);
			}
			else {
				$('#make-post-btn').attr("disabled", false);
			}
		});

		// trigger file input
		$('.input-trigger').on('click', function() {
			$('#file-input').trigger('click');
		})

		// remove preview file
		$(document).on('click', '#preview-file-remove', function() {
			$('#preview-file').remove();
			return;
		});

		// preview file on input change
		$('#file-input').on('change', function(event) {
			if (this.value == '') {
				$('#preview-file').remove();
				return;
			}

			file = this.files[0];
			// check file size
			if (file > 1000000 * 100) { 	// 100 MB
				alert("File is too big!");
				this.value = "";
				return;
			};

			fr = new FileReader();
			fr.onload = function() {
				let image_types = ['png', 'jpg', 'jpeg'];
				let video_types = ['mov', 'mp4', 'ogg'];
				file_type = file.name.split('.').pop().toLowerCase();
				if (image_types.includes(file_type)) {
					type = 'image';
					// preview image
					$('#file-preview').append("<div id='preview-file'><img style='width: inherit;' src=" + fr.result + " alt='image' /><br><button class='btn btn-danger mb-4' id='preview-file-remove'>remove</button></div>")
				}
				else if (video_types.includes(file_type)) {
					type = 'video';
					// preview video
					$('#file-preview').append("<div id='preview-file'><video style='width: inherit;' controls><source src="+ URL.createObjectURL(file) +">video unavailable</video><br><button class='btn btn-danger mb-4' id='preview-file-remove'>remove</button></div>")
				}
				else {
					alert('invalid file type');
					this.value = "";
					return;
				}
			}
			fr.readAsDataURL(file);

		})

	});
</script>